.env

__pycache__/
*.pyc
.venv/
venv/

*.pt
outputs/
*.npy
*.npz
*.tif
*.tiff
*.nc
*.gz
data/
Images/
!frontend/assets/*
!frontend/assets/*.npy
!frontend/assets/*.geojson

.DS_Store
.vscode/
.idea/
scratch/